#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F5F3F1;
}

.restaurants{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.restaurant {
  border: 2px solid #ff7f00;
  border-radius: 15px;
  background-color: #C1DADE ;
  width: 400px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
}

.postcode{
  margin-bottom: 1rem;
}